.admin-panel {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.sidebar {
    background-color: #2f4f4f;
    color: #fff;
    width: 200px;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
    cursor: pointer;
}

.content {
    margin-left: 20px;
    padding: 20px;
    width: calc(100% - 220px);
}