.detailed-problem-card {
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.2)
    ),
    url('../../public/images/blockycity2.png');

    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.detailed-problem-card__navbar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.detailed-problem-card__navbar-button {
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20px;
    background-color: rgba(255, 179, 70, 0.49);
    color: #1f50ff;
    border: solid 2px #ffffff;
    border-radius: 5px;
    margin: 4px;
    cursor: pointer;
}

.detailed-problem-card__problem-content
{
    background-color: rgba(166, 181, 255, 0.49);
    border-radius: 5px;
    text-align: center;
}
.detailed-problem-card__title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.detailed-problem-card__difficulty,
.detailed-problem-card__description {
    font-size: 16px;
    color: #333;
}