.footer-wrapper {
    background-color: rgb(7, 110, 220); 
    gap: 1rem;
    padding-block: 2rem;
    border-top: 1px #f9f9f9 solid;
}


.footer {
    display: flex;
    justify-content: center;    
    gap: 1rem;
    padding-block: 1rem;
}

.footer__link {
    color: #fff;
}