body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, p, h1, h2, h3, label, input {
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

a, p, h3, label, input {
  font-size: 20px;
}

h2 {
  margin-bottom: 10px; /*rhythm*/
}

h2, .button {
  font-size: 28px;
}

h1 {
  font-size: 40px;
}

p {
  max-width: 60rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body a {
  text-decoration: none;
}

.button {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #f9f9f9;
  width: 100%;
  width: fit-content;
  background: rgba(255,255,255,.5);
  padding: .5rem 1rem;
  margin-block: 1rem;
  border: none;
  border-left: 1px solid #f9f9f9;
  border-top: 1px solid #f9f9f9;
  border-radius: 5px;
  backdrop-filter: blur(100px);
  box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
  font-weight: 400; 
  transition: all 0.2s ease-in-out;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.button:hover {
  color: #fff;
  padding: .6rem 1.1rem;
  cursor: pointer;
}

.button-dark {
  background: rgba(5, 5, 5,.5); 
}

img {
  max-width: 100%;
}