.underconstructionpost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: url('../../public/images/crash.png');
    background-size: cover;
    background-position: center;

    color: white;
    height:100vh;
}

.underconstructionpost h1 {
    margin-bottom: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.underconstructionpost section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background to enhance white text readability */
    padding: 20px;
    border-radius: 10px;
}

.underconstructionpost section h2 {
    color: white;
}

.underconstructionpost section p {
    text-align: center;
}